<div class="row">
    <div class="column">
      
        <img
          src="../../../assets/img/team/download.png"
          style="width:50%">
  
    
  
      <div class="team-member">
          <img src="https://res.cloudinary.com/dkzsymaxl/image/upload/c_scale,h_238,w_340/v1575527338/swati_mdhxju.jpg"
        style="width:100%; height:30%">
    
          <div class="team-hover">
            <div class="desk">
              <h4>Hi There !</h4>
              <p>I love to introduce myself as a hardcore Web Designer.</p>
            </div>
            <div class="s-link">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-google-plus"></i></a>
            </div>
          </div>
        </div>
  
     
      <img
        src="https://res.cloudinary.com/dkzsymaxl/image/upload/v1574751125/matt-hoffman-awMXgVl0csY-unsplash_sftrta.jpg"
        style="width:70%; float: right;">
      <img
        src="https://res.cloudinary.com/dkzsymaxl/image/upload/v1574751125/matt-hoffman-awMXgVl0csY-unsplash_sftrta.jpg"
        style="width:40%">
      <img
        src="https://res.cloudinary.com/dkzsymaxl/image/upload/v1574751125/matt-hoffman-awMXgVl0csY-unsplash_sftrta.jpg"
        style="width:70%">
      <img
        src="https://res.cloudinary.com/dkzsymaxl/image/upload/v1574751125/matt-hoffman-awMXgVl0csY-unsplash_sftrta.jpg"
        style="width:100%">
      <img
        src="https://res.cloudinary.com/dkzsymaxl/image/upload/v1574751125/matt-hoffman-awMXgVl0csY-unsplash_sftrta.jpg"
        style="width:90%">
    </div>
  
  
    <div class="column">
  
        <div class="team-member" style="width:100%; height:35%;">
            <img src="https://res.cloudinary.com/dkzsymaxl/image/upload/c_scale,h_238,w_340/v1575527338/pruthvi_llkitw.jpg"
        style="height:100%;">
      
            <div class="team-hover">
              <div class="desk">
                <h4>Hi There !</h4>
                <p>I love to introduce myself as a hardcore Web Designer.</p>
              </div>
              <div class="s-link">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
              </div>
            </div>
          </div>
      
      <img src="../../../assets/img/team/IMG_20200129_181941.jpg" style="width:100%">
      <img
        src="https://res.cloudinary.com/dkzsymaxl/image/upload/v1574751125/matt-hoffman-awMXgVl0csY-unsplash_sftrta.jpg"
        style="width:30%">
      <img
        src="https://res.cloudinary.com/dkzsymaxl/image/upload/v1574751125/matt-hoffman-awMXgVl0csY-unsplash_sftrta.jpg"
        style="width:40%">
      <img
        src="https://res.cloudinary.com/dkzsymaxl/image/upload/v1574751125/matt-hoffman-awMXgVl0csY-unsplash_sftrta.jpg"
        style="width:70%">
      <img
        src="https://res.cloudinary.com/dkzsymaxl/image/upload/v1574751125/matt-hoffman-awMXgVl0csY-unsplash_sftrta.jpg"
        style="width:40%">
    </div>
  
  
  
    <div class="column">
      <img src="../../../assets/img/team/IMG_20191202_191846.jpg" style="width:100%; height: 20%;">
      <img src="https://res.cloudinary.com/dkzsymaxl/image/upload/c_scale,h_238,w_340/v1575527678/IMG_0185_zff6lx.jpg"
        style="width:65%; height: 20%; float:right;">
      <img
        src="https://res.cloudinary.com/dkzsymaxl/image/upload/v1574751125/matt-hoffman-awMXgVl0csY-unsplash_sftrta.jpg"
        style="width:100%">
      <img
        src="https://res.cloudinary.com/dkzsymaxl/image/upload/v1574751125/matt-hoffman-awMXgVl0csY-unsplash_sftrta.jpg"
        style="width:60%">
      <img
        src="https://res.cloudinary.com/dkzsymaxl/image/upload/v1574751125/matt-hoffman-awMXgVl0csY-unsplash_sftrta.jpg"
        style="width:30%">
      <img
        src="https://res.cloudinary.com/dkzsymaxl/image/upload/v1574751125/matt-hoffman-awMXgVl0csY-unsplash_sftrta.jpg"
        style="width:75%">
      <img
        src="https://res.cloudinary.com/dkzsymaxl/image/upload/v1574751125/matt-hoffman-awMXgVl0csY-unsplash_sftrta.jpg"
        style="width:65%">
    </div>
  
  
    <div class="column">
      <img src="../../../assets/img/team/download.png" style="width:40%">
      <img src="../../../assets/img/team/IMG_20191208_122408.jpg" style="width:90%; height: 25%;">
      <img src="https://res.cloudinary.com/dkzsymaxl/image/upload/c_scale,h_238,w_340/v1575527338/moti_rruzxq.jpg"
        style="width:75%; height: 25%;">
      <img
        src="https://res.cloudinary.com/dkzsymaxl/image/upload/v1574751125/matt-hoffman-awMXgVl0csY-unsplash_sftrta.jpg"
        style="width:49%">
      <img
        src="https://res.cloudinary.com/dkzsymaxl/image/upload/v1574751125/matt-hoffman-awMXgVl0csY-unsplash_sftrta.jpg"
        style="width:100%">
      <img
        src="https://res.cloudinary.com/dkzsymaxl/image/upload/v1574751125/matt-hoffman-awMXgVl0csY-unsplash_sftrta.jpg"
        style="width:24%">
    </div>
  </div>