<section class="pt-10 pb-0" style="background-color:#0B0D1B">
  <div class="bg-holder"
    style="background-image:url(assets/img/bg-img/big-shape-left.png);background-size:45%;background-position:left top;">
  </div>
  <!--/.bg-holder-->
  <div class="bg-holder"
    style="background-image:url(assets/img/bg-img/big-shape-right.png);background-size:56%;background-position:right top;">
  </div>
  <!--/.bg-holder-->
  <div class="container">
    <div class="row justify-content-center" data-zanim-timeline="{&quot;delay&quot;:0.5}">
      <div class="col-xl-8 col-lg-7 col-md-9 col-11" data-zanim-xs="{&quot;delay&quot;:0.2,&quot;duration&quot;:1}"
        style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
        <h1 class="text-capitalize text-white fs-xxl-7 fs-xl-6 fs-sm-4 fs-2"><span class="position-relative">Jobs
            Openings at Coffeebeans<span class="heading-shapes heading-shapes-left d-none d-sm-block"
              style="background-image: url(assets/img/illustrations/heading-right-img-banner.png); height: 182px; width: 115px"></span><span
              class="heading-shapes heading-shapes-right"
              style="background-image: url(assets/img/illustrations/heading-side.png); height: 70px; width: 81px"></span></span><br>
        </h1>
        <p class="mt-3 w-lg-75 text-500">We at coffeebeans always on the look out for great talent. If you are
          passionate about what we do and want to be a part of it drop a mail to <a href=""
            class="font-weight-bold text-500">careers@coffeebeanstechnologies.com</a> and we will get back to you if
          your profile is intresting. </p><button class="btn btn-danger mt-sm-5 mt-3 mr-3">Apply now</button><button
          class="btn btn-secondary mt-sm-5 mt-3">how to Apply</button>
      </div>
      <div class="col-lg-4 col-md-9 col-11 mt-5 mt-lg-0" data-zanim-xs="{&quot;delay&quot;:0.4,&quot;duration&quot;:1}"
        style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
        <!-- <div class="card">
            <div class="row bg-primary card-img-top no-gutters align-items-center">
              <div class="col-5 col-md-6 col-xl-5 col-xxl-4 ml-4">
               
              </div>
              <div class="col p-1"><img class="img-fluid mt-2" src="assets/img/illustrations/leaf1.png" alt=""></div>
            </div>
            <div class="card-body p-4">
              
            </div>
          </div> -->
      </div>
    </div>
    <!-- <div class="row justify-content-center mt-8" data-zanim-timeline="{&quot;delay&quot;:0}">
        <div class="col-xl-10 col-lg-10 col-11" data-zanim-xs="{&quot;delay&quot;:0.2,&quot;duration&quot;:1.5}" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);"><img class="position-absolute d-none d-lg-block" src="assets/img/illustrations/side-shape-of-video.png" alt="" style="width:19.5%;right:-8%;bottom:0"><img class="shapes-left-top" src="assets/img/illustrations/shapes-3.png" alt="" style="width:5%"><img class="shapes-right-bottom" src="assets/img/illustrations/inline-video-bottom-shape.png" alt="" style="width:5%">
          <div class="rounded-soft overflow-hidden"><div tabindex="0" class="plyr plyr--full-ui plyr--video plyr--html5 plyr--paused plyr--stopped plyr--pip-supported plyr--fullscreen-enabled plyr__poster-enabled"><div class="plyr__controls"><button class="plyr__controls__item plyr__control" type="button" data-plyr="play" aria-label="Play"><svg class="icon--pressed" role="presentation" focusable="false"><use xlink:href="#plyr-pause"></use></svg><svg class="icon--not-pressed" role="presentation" focusable="false"><use xlink:href="#plyr-play"></use></svg><span class="label--pressed plyr__sr-only">Pause</span><span class="label--not-pressed plyr__sr-only">Play</span></button><div class="plyr__controls__item plyr__progress__container"><div class="plyr__progress"><input data-plyr="seek" type="range" min="0" max="100" step="0.01" value="0" autocomplete="off" role="slider" aria-label="Seek" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" id="plyr-seek-9406" style="--value:0%;"><progress class="plyr__progress__buffer" min="0" max="100" value="0" role="progressbar" aria-hidden="true">% buffered</progress><span class="plyr__tooltip">00:00</span></div></div><div class="plyr__controls__item plyr__time--current plyr__time" aria-label="Current time">-00:15</div><div class="plyr__controls__item plyr__volume"><button type="button" class="plyr__control" data-plyr="mute"><svg class="icon--pressed" role="presentation" focusable="false"><use xlink:href="#plyr-muted"></use></svg><svg class="icon--not-pressed" role="presentation" focusable="false"><use xlink:href="#plyr-volume"></use></svg><span class="label--pressed plyr__sr-only">Unmute</span><span class="label--not-pressed plyr__sr-only">Mute</span></button><input data-plyr="volume" type="range" min="0" max="1" step="0.05" value="1" autocomplete="off" role="slider" aria-label="Volume" aria-valuemin="0" aria-valuemax="100" aria-valuenow="100" id="plyr-volume-9406" aria-valuetext="100.0%" style="--value:100%;"></div><button class="plyr__controls__item plyr__control" type="button" data-plyr="captions"><svg class="icon--pressed" role="presentation" focusable="false"><use xlink:href="#plyr-captions-on"></use></svg><svg class="icon--not-pressed" role="presentation" focusable="false"><use xlink:href="#plyr-captions-off"></use></svg><span class="label--pressed plyr__sr-only">Disable captions</span><span class="label--not-pressed plyr__sr-only">Enable captions</span></button><div class="plyr__controls__item plyr__menu"><button aria-haspopup="true" aria-controls="plyr-settings-9406" aria-expanded="false" type="button" class="plyr__control" data-plyr="settings"><svg role="presentation" focusable="false"><use xlink:href="#plyr-settings"></use></svg><span class="plyr__sr-only">Settings</span></button><div class="plyr__menu__container" id="plyr-settings-9406" hidden=""><div><div id="plyr-settings-9406-home"><div role="menu"><button data-plyr="settings" type="button" class="plyr__control plyr__control--forward" role="menuitem" aria-haspopup="true" hidden=""><span>Captions<span class="plyr__menu__value">Disabled</span></span></button><button data-plyr="settings" type="button" class="plyr__control plyr__control--forward" role="menuitem" aria-haspopup="true" hidden=""><span>Quality<span class="plyr__menu__value">undefined</span></span></button><button data-plyr="settings" type="button" class="plyr__control plyr__control--forward" role="menuitem" aria-haspopup="true"><span>Speed<span class="plyr__menu__value">Normal</span></span></button></div></div><div id="plyr-settings-9406-captions" hidden=""><button type="button" class="plyr__control plyr__control--back"><span aria-hidden="true">Captions</span><span class="plyr__sr-only">Go back to previous menu</span></button><div role="menu"></div></div><div id="plyr-settings-9406-quality" hidden=""><button type="button" class="plyr__control plyr__control--back"><span aria-hidden="true">Quality</span><span class="plyr__sr-only">Go back to previous menu</span></button><div role="menu"></div></div><div id="plyr-settings-9406-speed" hidden=""><button type="button" class="plyr__control plyr__control--back"><span aria-hidden="true">Speed</span><span class="plyr__sr-only">Go back to previous menu</span></button><div role="menu"><button data-plyr="speed" type="button" role="menuitemradio" class="plyr__control" aria-checked="false" value="0.5"><span>0.5×</span></button><button data-plyr="speed" type="button" role="menuitemradio" class="plyr__control" aria-checked="false" value="0.75"><span>0.75×</span></button><button data-plyr="speed" type="button" role="menuitemradio" class="plyr__control" aria-checked="true" value="1"><span>Normal</span></button><button data-plyr="speed" type="button" role="menuitemradio" class="plyr__control" aria-checked="false" value="1.25"><span>1.25×</span></button><button data-plyr="speed" type="button" role="menuitemradio" class="plyr__control" aria-checked="false" value="1.5"><span>1.5×</span></button><button data-plyr="speed" type="button" role="menuitemradio" class="plyr__control" aria-checked="false" value="1.75"><span>1.75×</span></button><button data-plyr="speed" type="button" role="menuitemradio" class="plyr__control" aria-checked="false" value="2"><span>2×</span></button></div></div></div></div></div><button class="plyr__controls__item plyr__control" type="button" data-plyr="pip"><svg role="presentation" focusable="false"><use xlink:href="#plyr-pip"></use></svg><span class="plyr__sr-only">PIP</span></button><button class="plyr__controls__item plyr__control" type="button" data-plyr="fullscreen"><svg class="icon--pressed" role="presentation" focusable="false"><use xlink:href="#plyr-exit-fullscreen"></use></svg><svg class="icon--not-pressed" role="presentation" focusable="false"><use xlink:href="#plyr-enter-fullscreen"></use></svg><span class="label--pressed plyr__sr-only">Exit fullscreen</span><span class="label--not-pressed plyr__sr-only">Enter fullscreen</span></button></div><div class="plyr__video-wrapper"><video class="player" poster="assets/img/bg-img/video-bg-img.png" playsinline="playsinline">
              <source src="assets/video/beach.mp4" type="video/mp4">
              <source src="assets/video/beach.mp4" type="video/webm"></video><div class="plyr__poster" style="background-image: url(&quot;assets/img/bg-img/video-bg-img.png&quot;);"></div></div><div class="plyr__captions"></div><button type="button" class="plyr__control plyr__control--overlaid" data-plyr="play" aria-label="Play"><svg role="presentation" focusable="false"><use xlink:href="#plyr-play"></use></svg><span class="plyr__sr-only">Play</span></button></div></div>
        </div>
      </div> -->
    <div class="mt-md-9 mt-6 pb-lg-8 pb-md-5 pb-6 text-center">
    </div>
  </div>
</section>


<section>
  <div class="row justify-content-center mt-5 mb-4" data-zanim-timeline="{&quot;delay&quot;:0}">
    <h1 class="font-weight-medium text-dark fs-xl-5 fs-lg-4 fs-sm-3 fs-1"><span class="position-relative">Life At
        CoffeeBeans Technologies<span class="heading-shapes heading-shapes-right"
          style="background-image: url(assets/img/illustrations/shapes-13.png); height: 80px; width: 90px"></span></span><br />
    </h1>
  </div>
  <div _ngcontent-lhg-c4="" class="container mb-8">
    <!-- <h1 _ngcontent-lhg-c4="" class="fs-xl-5 fs-lg-4 fs-md-3 fs-2" style="text-align: center;
            vertical-align: middle;
            line-height: 90px;  ">Why you would love to work with us</h1> -->
    <div _ngcontent-lhg-c4="" class="row mt-7 justify-content-center">
      <div _ngcontent-lhg-c4="" class="col-lg-4 col-md-8 mb-4 mb-lg-0">
        <div _ngcontent-lhg-c4="" class="media p-xxl-4">
          <img _ngcontent-lhg-c4="" alt=""
            src="https://res.cloudinary.com/dkzsymaxl/image/upload/c_scale,h_60,w_60/v1575281752/office_s2itxr.png"
            width="60">
          <div _ngcontent-lhg-c4="" class="media-body ml-3">
            <h5 _ngcontent-lhg-c4="" class="font-weight-bold">Work-life balance</h5>
            <br>
            <p _ngcontent-lhg-c4="" class="text-900">We believe that quality time outside the office is vital to our
              employees’ satisfaction at work. That’s why our flexible company encourages team members to take time off
              so they can come back refreshed. 
            </p>
          </div>
        </div>
      </div>
      <div _ngcontent-lhg-c4="" class="col-lg-4 col-md-8 mb-4 mb-lg-0">
        <div _ngcontent-lhg-c4="" class="media p-xxl-4">
          <img _ngcontent-lhg-c4="" alt=""
            src="https://res.cloudinary.com/dkzsymaxl/image/upload/c_scale,h_60,w_60/v1575281782/coffee_byuvt6.jpg"
            width="60">
          <div _ngcontent-lhg-c4="" class="media-body ml-3">
            <h5 _ngcontent-lhg-c4="" class="font-weight-bold">Social Events</h5><br>
            <p _ngcontent-lhg-c4="" class="text-900">Happy Hours, Team Outings, Seasonal Sports Teams. Throughout the year, we host
                programs ranging from crafting to trivia and customer markets. During the summer, we throw
                family-friendly events and activities, and our holiday parties have been known to get fancy.</p>
          </div>
        </div>
      </div>
      <div _ngcontent-lhg-c4="" class="col-lg-4 col-md-8 mb-4 mb-lg-0">
        <div _ngcontent-lhg-c4="" class="media p-xxl-4">
          <img _ngcontent-lhg-c4="" alt=""
            src="https://res.cloudinary.com/dkzsymaxl/image/upload/c_scale,h_60,w_60/v1575281828/challengingwork_mbdkaw.png"
            width="60">
          <div _ngcontent-lhg-c4="" class="media-body ml-3">
            <h5 _ngcontent-lhg-c4="" class="font-weight-bold">Stay informed</h5><br>
            <p _ngcontent-lhg-c4="" class="text-900">We’re dedicated to ensuring all employees have the information they
              need to do their jobs well. Our monthly meetings, email newsletters, and CEO office hours are
              just a few of the programs we run to share key aspects of the
              business across the entire organization.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div _ngcontent-lhg-c4="" class="row mt-7 justify-content-center">
      <div _ngcontent-lhg-c4="" class="col-lg-4 col-md-8 mb-4 mb-lg-0">
        <div _ngcontent-lhg-c4="" class="media p-xxl-4">
          <img _ngcontent-lhg-c4="" alt=""
            src="https://res.cloudinary.com/dkzsymaxl/image/upload/c_scale,h_60,w_60/v1575281752/office_s2itxr.png"
            width="60">
          <div _ngcontent-lhg-c4="" class="media-body ml-3">
            <h5 _ngcontent-lhg-c4="" class="font-weight-bold">We value our people</h5>
            <br>
            <p _ngcontent-lhg-c4="" class="text-900">We’re serious about sharing in CoffeeBeans successes. 


            </p>
          </div>
        </div>
      </div>
      <div _ngcontent-lhg-c4="" class="col-lg-4 col-md-8 mb-4 mb-lg-0">
        <div _ngcontent-lhg-c4="" class="media p-xxl-4">
          <img _ngcontent-lhg-c4="" alt=""
            src="https://res.cloudinary.com/dkzsymaxl/image/upload/c_scale,h_60,w_60/v1575281782/coffee_byuvt6.jpg"
            width="60">
          <div _ngcontent-lhg-c4="" class="media-body ml-3">
            <h5 _ngcontent-lhg-c4="" class="font-weight-bold">We give back</h5><br>
            <p _ngcontent-lhg-c4="" class="text-900">We also arrange programming for
              team members to volunteer at specialized customer workshops and community activities.
            </p>
          </div>
        </div>
      </div>
      <div _ngcontent-lhg-c4="" class="col-lg-4 col-md-8 mb-4 mb-lg-0">
        <div _ngcontent-lhg-c4="" class="media p-xxl-4">
          <img _ngcontent-lhg-c4="" alt=""
            src="https://res.cloudinary.com/dkzsymaxl/image/upload/c_scale,h_60,w_60/v1575281828/challengingwork_mbdkaw.png"
            width="60">
          <div _ngcontent-lhg-c4="" class="media-body ml-3">
            <h5 _ngcontent-lhg-c4="" class="font-weight-bold">Live it up</h5><br>
            <p _ngcontent-lhg-c4="" class="text-900">One benefit of having amazing coworkers is enjoying each other’s
              company, and we make up some good excuses to have fun together. CoffeeBeans weekly catered happy hours
              are a great way to connect with coworkers and unwind after the week. 

            </p>
          </div>
        </div>
      </div>
    </div>
  </div>


</section>


<section class="bg-dark pt-0 overflow-hidden " data-zanim-timeline="{&quot;delay&quot;:0}">
  <div class="container">
    <div class="row text-center justify-content-center mt-8 mb-8">
      <h1 class="font-weight-medium text-white fs-xl-5 fs-4 mb-3"><span class="position-relative">Current Openings<span
            class="heading-shapes heading-shapes-right"
            style="background-image: url(assets/img/illustrations/shapes-13.png); height: 70px; width: 80px"></span></span>
      </h1>
      <p class="pb-5">
        Come as you are
        We recognize the dire lack of diversity in our industry, and we’re not okay with it. We actively seek to address
        it with our hiring and retention practices, as well as our office culture. Our culture isn’t something employees
        join, it’s something they build and shape. We believe that every person and their lived experience is integral
        to building a work environment, and a product that will change the world. If you’re on the fence about whether
        you’re a fit, we say go for it, and apply!
      
      </p>

      <div class="col-xl-11" data-zanim-xs="{&quot;delay&quot;:0.3,&quot;duration&quot;:1.5}"
        style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);"><img class="shapes-left-top d-none d-md-block"
          src="assets/img/illustrations/shapes-12.png" alt="" style="width:5%"><img
          class="shapes-left-bottom d-none d-md-block" src="assets/img/illustrations/shapes-13.png" alt=""
          style="width:5%"><img class="shapes-right-bottom d-none d-xl-block"
          src="assets/img/illustrations/shapes-14.png" alt="" style="width:11%">
        <div class="row justify-content-center" data-zanim-timeline="{&quot;delay&quot;:0.4}">
          <div *ngFor="let one of careers" class="col-lg-4 col-md-6 col-sm-10 mb-4"><a class="text-decoration-none"
              href="#!">
              <div class="card h-100 hover-cardgroup bg-extra-1">
                <div class="card-body p-xl-5 p-3"><img class="mb-3" src="assets/img/logos/shield-check.svg" alt="logo"
                    width="70">
                  <h4 class="pb-3 font-weight-bold text-white title">{{one.post}}</h4>
                  <p class="subtitle text-600"
                    data-zanim-xs="{&quot;delay&quot;:&quot;0.0&quot;,&quot;duration&quot;:1.5}"
                    style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">{{one.role}}</p>
                  <p class="subtitle text-600"
                    data-zanim-xs="{&quot;delay&quot;:&quot;0.0&quot;,&quot;duration&quot;:1.5}"
                    style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">{{one.postedOn | date: 'fullDate'}}</p>
                </div>
              </div>
            </a></div>
        </div>
      </div>
      Bring Others Along
We foster an inclusive environment where we share knowledge, consider varied perspectives, and assume positive intent.
    </div>
  </div><!-- end of .container-->
</section>

<div class="pb-5 pl-8">
  <div class="row justify-content-center mt-5 mb-4" data-zanim-timeline="{&quot;delay&quot;:0}">
    <h1 class="font-weight-medium text-dark fs-xl-5 fs-lg-4 fs-sm-3 fs-1"><span class="position-relative">Why you would
        love to work with us<span class="heading-shapes heading-shapes-right"
          style="background-image: url(assets/img/illustrations/shapes-13.png); height: 80px; width: 90px"></span></span><br />
    </h1>
  </div>
  
  <p class="justify-content-center" style="padding: 0px 300px 0px 300px;">We work urgently and thoughtfully and are driven to constantly improve.

    As a result, we create value for markets that never sit still, delivering elegant, cutting edge solutions that have an impact.</p>
  <div class="row mt-5 justify-content-center justify-content-lg-start">
      <div class="col-md-5 col-10 hover-cardgroup bg-extra-1 mb-xl-4 mb-3 mr-xl-4 mr-md-3 mb-3">
          <div class="media align-items-center"><img class="img-fluid" src="assets/img/icons/slack-logo.png" alt="" />
              <div class="card-body text-left"><a class="stretched-link" href="#!"></a>
                  <p class="mb-0 font-weight-bold title text-white fs-xl-0 fs-lg--1 fs-0">Unlimited Coffee</p>
                  <ul>
                      <li>
                              <p class="text-500 mb-0 subtitle fs-xl-0 fs-lg--1 fs-0">communication</p>
                      </li>
                  </ul>
                 
              </div>
          </div>
      </div>
      <div class="col-md-5 col-10 hover-cardgroup bg-extra-1 mb-xl-4 mb-3">
          <div class="media align-items-center"><img class="img-fluid" src="assets/img/icons/dropbox-logo.png" alt="" />
              <div class="card-body text-left"><a class="stretched-link" href="#!"></a>
                  <p class="mb-0 font-weight-bold title text-white fs-xl-0 fs-lg--1 fs-0">Premium office space</p>
                  <p class="text-500 mb-0 subtitle fs-xl-0 fs-lg--1 fs-0">Productivity</p>
              </div>
          </div>
      </div>
      <div class="col-md-5 col-10 hover-cardgroup bg-extra-1 mr-xl-4 mr-md-3 mb-3 mb-md-0">
          <div class="media align-items-center"><img class="img-fluid" src="assets/img/icons/hubstaff-logo.png" alt="" />
              <div class="card-body text-left"><a class="stretched-link" href="#!"></a>
                  <p class="mb-0 font-weight-bold title text-white fs-xl-0 fs-lg--1 fs-0">Challenging work</p>
                  <p class="text-500 mb-0 subtitle fs-xl-0 fs-lg--1 fs-0">Productivity</p>
              </div>
          </div>
      </div>
      <div class="col-md-5 col-10 hover-cardgroup bg-extra-1">
          <div class="media align-items-center"><img class="img-fluid" src="assets/img/icons/Sketch_Logo.png" alt="" />
              <div class="card-body text-left"><a class="stretched-link" href="#!"></a>
                  <p class="mb-0 font-weight-bold title text-white fs-xl-0 fs-lg--1 fs-0">Creative problem solving</p>
                  <p class="text-500 mb-0 subtitle fs-xl-0 fs-lg--1 fs-0">creative tools</p>
              </div>
          </div>
      </div>
  </div>


  <div class="row justify-content-center mt-5 mb-4" data-zanim-timeline="{&quot;delay&quot;:0}">
    <h1 class="font-weight-medium text-dark fs-xl-5 fs-lg-4 fs-sm-3 fs-1"><span class="position-relative">What to Expect When Applying<span class="heading-shapes heading-shapes-right"
          style="background-image: url(assets/img/illustrations/shapes-13.png); height: 80px; width: 90px"></span></span><br />
    </h1>
  </div>
  <div class="row">
    <div class="col-md-4 justify-content-center">
        <i class="far fa-file-alt " style="font-size: 50px; padding-bottom: 2%;"></i>
       <br>
      Resume Review 
    </div>
    <div class="col-md-4 justify-content-centerw">
        <i class="fa fa-phone "  style="font-size: 50px; padding-bottom: 2%;"></i>
        <br>
     Phone Interview
    </div>
    <div class="col-md-4 justify-content-centerw">
        <i class='fas fa-user-friends'  style="font-size: 50px; padding-bottom: 2%;"></i>
        <br>
     Face-To-Face Interview 
    </div>
  </div>

</div>