<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar sticky-top bg-dark navbar-dark sticky-kit navbar-expand-lg py-3 sticky-kit mb-0">
    <div class="container">
        <a [routerLink]="['']">
            <img style="transform: translate(-199px,-7px);" id="secondLogo" src="assets/img/logos/cbt-logo.png"
                alt="logo" width="200" />
        </a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarStandard"
            aria-controls="navbarStandard" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse ml-xl-7 ml-xxl-9" id="navbarStandard">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link " id="pagesNavbarDropdown" [routerLink]="['']" role="button"
                        aria-expanded="false">Home</a>

                </li>

                <!-- <li class="nav-item"><a class="nav-link " id="pagesNavbarDropdown" [routerLink]="['about']"
                        role="button" aria-expanded="false">About Us</a>

                </li> -->
                <li class="nav-item"><a class="nav-link " id="pagesNavbarDropdown" [routerLink]="['services']"
                        role="button" aria-expanded="false">Services</a>

                </li>
                <li class="nav-item"><a class="nav-link " id="pagesNavbarDropdown" [routerLink]="['careers']"
                        role="button" aria-expanded="false">Careers</a>

                </li>

                <li class="nav-item"><a class="nav-link " id="pagesNavbarDropdown" [routerLink]="['contact']"
                        role="button" aria-expanded="false">Contact Us</a>

                </li>
                <li class="nav-item"><a class="nav-link " id="pagesNavbarDropdown" [routerLink]="['gallery']"
                        role="button" aria-expanded="false">Gallery</a>

                </li>

            </ul>
            <div class="ml-auto mt-3 mt-lg-0"><a class="mr-xl-3 mr-lg-2 mr-3"></a></div>
        </div>
    </div>
</nav>

<!-- <div class="container1">
    <div class="item pirate">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/02/SVG_logo.svg/1200px-SVG_logo.svg.png" width="100" alt="Item 1">
    </div>
    <div class="item police">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/02/SVG_logo.svg/1200px-SVG_logo.svg.png" width="100" alt="Item 2">
    </div>
    <div class="item cowboy">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/02/SVG_logo.svg/1200px-SVG_logo.svg.png" width="100" alt="Item 3">
    </div>
    <div class="item doctor">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/02/SVG_logo.svg/1200px-SVG_logo.svg.png" width="100" alt="Item 4">
    </div>
  </div> -->

<router-outlet></router-outlet>


<!-- <section> begin ============================-->
<section class="bg-dark overflow-hidden pt-3">
    <div class="container">
        <div class="row" data-zanim-timeline="{&quot;delay&quot;:0}">
            <div class="col-lg-4">
                <h4 class="text-white">CONTACT INFO</h4>
                <div class="media mt-4"><span class="fas fa-map-marker mr-3 mt-1 text-warning"
                        data-fa-transform="down-2"></span>
                    <div class="media-body">
                        <p class="text-600 mb-0">CoffeeBeans Technologies,
                            c/o, Regus Ruby Business Center, Unit 801, 8th Floor,World Trade Center Tower 1</p>
                        <p class="text-600">Kharadi, PUNE- 411014</p>
                    </div>
                </div>
                <div class="media mt-1"><span class="fas fa-phone mr-3 mt-1 text-warning"
                        data-fa-transform="down-2"></span>
                    <div class="media-body" style="text-indent:-3px">
                        <p class="text-600 mb-0"> + 91 2067109018</p>
                        <!-- <p class="text-600 fs--1">Mon - Fri 9am - 5pm</p> -->
                    </div>
                </div>
                <div class="media mt-1"><span class="fas fa-envelope mr-3 mt-1 text-warning"
                        data-fa-transform="down-2"></span>
                    <div class="media-body">
                        <p class="text-600 mb-0"> swati@coffeebeanstechnologies.com
                        </p>
                        <p class="text-600">coffeebeanstechnologies.com</p>
                    </div>
                </div>

            </div>
            <div class="col-lg-3">
                <h4 class="text-white">SITE LINKS</h4>
                <div class="nav flex-column mt-3"><a class="nav-item nav-link px-2 pl-0 text-800" href="#!">About
                        Us</a><a class="nav-item nav-link px-2 pl-0 text-800" href="#!">Services</a><a
                        class="nav-item nav-link px-2 pl-0 text-800" href="#!">Careers</a>
                    <a class="nav-item nav-link px-2 pl-0 text-800" href="#!">Privacy Policy</a>
                    <a class="nav-item nav-link px-2 pl-0 text-800" href="#!">Terms Of Use</a></div>
            </div>
            <div class="col-lg-4" data-zanim-lg='{"animation":"slide-left","delay":0.8,"duration":1.5}'
                data-zanim-xs='{"delay":0.7,"duration":1.5}'>
                <h4 class="text-white">SUBSCRIBE</h4>
                <p class="text-500 mt-4">Latest news, articles, and resources sent straight to your inbox every month.
                </p>
                <br>
                <form class="mailbluster-subscribe pl-3">
                    <div class="mailbluster-feedback"></div>
                    <div class="form-group row"><input class="form-control form-control-sm" id="colFormLabelSm"
                            type="email" name="email" placeholder="Your Email" />
                        <button class="btn btn-block btn-sm mt-3 btn-primary" type="submit">Subscribe</button>
                        <p class="fs--1 mt-1">We’ll never share your details. See our Privacy Policy</p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- end of .container-->
</section>
<!-- <section> close ============================-->
<!-- ============================================-->



<!-- ============================================-->
<!-- <section> begin ============================-->
<section class="bg-dark py-2">
    <div class="container">
        <div class="row text-center justify-content-center">
            <div class="col-auto">
                <div class="nav justify-content-center"><a class="nav-item nav-link px-2 social-icon-hover-primary"
                        href="#!"><span class="fab fa-twitter social-icon"></span></a><a
                        class="nav-item nav-link px-2 social-icon-hover-primary" href="#!"><span
                            class="fab fa-facebook-f social-icon"></span></a>
                    <a class="nav-item nav-link px-2 social-icon-hover-danger" href="#!"><span
                            class="fab fa-youtube social-icon"></span></a><a
                        class="nav-item nav-link px-2 social-icon-hover-warning" href="#!"><span
                            class="fab fa-instagram social-icon"></span></a><a
                        class="nav-item nav-link px-2 social-icon-hover-info" href="#!"><span
                            class="fab fa-linkedin-in social-icon"></span></a></div>
                <p>Made With <span class="fas fa-heart text-danger"></span> by <a
                        class="text-decoration-none font-weight-bold text-white" href="https://themewagon.com/"
                        target="_blank">Coffeebeans Technologies</a></p>
            </div>
        </div>
    </div>
    <!-- end of .container-->
</section>