<div>
        <!-- ===============================================-->
        <!-- Main Content-->
        <!-- ===============================================-->
        <main class="main" id="top">
            <!-- <div id="secondLogo" class="sticky col-md-2">
            <img  style="transform: translate(-10px,-76px);
            width: 270px;
            height: 66px;   position: relative;
         position: -webkit-sticky;
         top: 0px;
         z-index: 9999;"   />
           </div> -->
            <div style="height: 575px !important;" data-aos="zoom-in-down" data-aos-duration="1000" data-aos-once="true"
                class="bg-dark b-0 h-50 w-100 bg-dark py-xxl-11 py-xl-8 py-lg-6 py-0">
                <div class="bg-holder"
                    style="background-image:url(https://res.cloudinary.com/dkzsymaxl/image/upload/v1574751125/matt-hoffman-awMXgVl0csY-unsplash_sftrta.jpg);opacity: 0.6;">
                </div>
                <!--/.bg-holder-->
                <!-- <div class="bg-holder" style="background-image:url(assets/img/bg-img/appland_bg_companies.svg);background-position:bottom;background-size:100%;z-index:1;"></div> -->
                <!--/.bg-holder-->
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="position-relative text-center z-index-1 mb-4">
                                <div id="axis" class="one">
                                    <img id="logo" class="object van move-right " width="450px" height="120px"
                                        src="assets/img/logos/cbt-logo.png" />
                                    <p class="  fs-md-2 fs-0 text-white text-capitalize mt-4 mx-auto">Brewing fresh ideas..
                                    </p>
                                </div>
                                <!-- <h1 class="display-2 text-white font-weight-medium fs-xl-7 fs-md-6 fs-3 mt-4 mt-md-0"><span class="d-inline-block position-relative">Coffeebeans Technologies<span class="heading-shapes heading-shapes-right d-none d-md-block" style="background-image: url(assets/img/illustrations/shapes-13.png); height: 80px; width: 90px"></span></span><br/></h1> -->
    
                                <form class="mb-6 mailbluster-subscribe">
                                    <div class="form-row justify-content-center">
                                        <div class="col-lg-4 col-md-6 col-sm-9">
                                            <div class="mailbluster-feedback"></div>
                                        </div>
                                    </div>
                                    <!-- <div class="form-row justify-content-center align-items-center">
                                          <div class="col-auto mr-md-2"><input class="form-control bg-secondary border border-secondary text-white mt-3" type="email" name="email" placeholder="Your Email" /></div>
                                          <div class="col-auto mt-md-0"><button class="btn btn-primary mt-3" type="submit">Get access</button></div>
                                      </div> -->
                                </form>
                            </div>
                            <!-- <div class="row justify-content-center">
                                  <div class="col-lg-8 col-md-8 col-10">
                                      <img class="position-absolute d-none d-md-block" src="assets/img/illustrations/home/appland_shapes2.png" alt="" style="width: 13%; top: 7%; left: -9%;" /><img class="position-absolute d-none d-md-block" src="assets/img/illustrations/home/appland_shapes4.png"
                                          alt="" style="width: 15%; top: 13%; right: -7%;" />
                                          <img class="position-absolute d-none d-md-block" src="assets/img/illustrations/home/appland_shapes3.png" alt="" style="opacity: 0.9;width: 13%; top: 60%; left: -9%;" />
                                          <br>
                                          <br>
                                          <br>
                                          <br>
                                      </div>
                              </div> -->
                        </div>
                    </div>
                    <!-- <div class="row justify-content-center">
                          <div class="col-xxl-10 col-xl-9 col-lg-8 col-10 mb-md-4 mb-lg-0 text-center">
                              <h6 class="mb-xxl-6 mb-xl-5 mb-lg-4 mb-md-4 text-800 font-weight-bold fs-md-0 fs--1 position-relative z-index-1">trusted by companies like this</h6>
                              <div class="owl-carousel owl-carousel-theme owl-theme owl-dot-round owl-theme-primary mb-3" data-options='{"autoplay":true,"loop":true,"dotsEach":true,"margin":50,"autoplayHoverPause":true,"responsive":{"0":{"items":3,"dotsEach":false,"dots":false,"margin":30},"600":{"items":4,"dotsEach":false,"dots":false},"1000":{"items":5,"dotsEach":true}}}'><img class="img-fluid" src="assets/img/logos/microsoft-logo.png" alt="" width="191" /><img class="img-fluid" src="assets/img/logos/airbnb-logo.png" alt="" width="156" /><img class="img-fluid" src="assets/img/logos/google-logo.png"
                                      alt="" width="162" /><img class="img-fluid" src="assets/img/logos/Spotify_Logo.png" alt="" width="191" /><img class="img-fluid" src="assets/img/logos/Paypal-logo.png" alt="" width="162" /><img class="img-fluid" src="assets/img/logos/microsoft-logo.png"
                                      alt="" width="191" /></div>
                          </div>
                      </div> -->
    
    
                </div>
            </div>
    
    
    
    
    
            <!-- ============================================-->
            <!-- <div> begin ============================-->
            <div data-aos="zoom-in-down" data-aos-duration="1000" data-aos-once="true" class="pb-0 overflow-hidden">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col text-center pt-lg-7 pt-5">
                            <div class="bg-holder d-none d-md-block"
                                style="background-image:url(assets/img/illustrations/home/home-vector.png);background-size:28%;background-position:80% 0%;">
                            </div>
                            <!--/.bg-holder-->
                            <div class="row justify-content-center" data-zanim-timeline="{&quot;delay&quot;:0}">
                                <div data-zanim-xs='{"delay":0.3,"duration":1.5}'>
                                    <h1 class="font-weight-medium text-dark fs-xl-5 fs-lg-4 fs-sm-3 fs-1"><span>About Us</span><br /></h1>
    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center" data-zanim-timeline="{&quot;delay&quot;:0}">
                        <div class="col"><img class="position-absolute d-none d-md-block t-0"
                                src="assets/img/illustrations/home/home-vector-1.png" alt=""
                                style="left:14%; width:16%;" /><img class="position-absolute d-none d-md-block t-0"
                                src="assets/img/illustrations/home/home-vector-2.png" alt="" style="right:6%; width:24%;" />
                            <div class="row justify-content-center">
                                <div class="col-md-8 col-10"><img class="jhiri-left-top"
                                        src="assets/img/illustrations/home/home-vector.png" alt="" style="width:13%" />
                                    <div class="rounded-soft overflow-hidden" data-zanim-xs='{"delay":0.7,"duration":1.5}'>
                                        <p class="text-900 mt-4 mx-auto" style="font-weight: 400;"
                                            data-zanim-xs='{"delay":0.4,"duration":1.5}'>Coffeebeans technologies is a
                                            technology focused company striving to build world class services and products
                                            for customers around the world. With our pioneering groundbreaking technology we are trying to make a meaningful impact in real time.
                                            <br><br> We are a team of enthusiasts working from around the world towards a
                                            common cause. Each one of us brings in a unique perspective through our diverse
                                            experiences and education. We are young with energy and old with wisdom.
                                        </p>
                                        <!-- <video class="player" poster="assets/img/bg-img/home-video-bg.png" playsinline="playsinline" controls="controls">
                            <source src="assets/video/beach.mp4" type="video/mp4" /></video> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="row mt-7 justify-content-center">
                          <div class="col-lg-4 col-md-8 mb-4 mb-lg-0">
                              <div class="media p-xxl-4"><img src="assets/img/icons/icon-1.png" alt="" width="60" />
                                  <div class="media-body ml-3">
                                      <h5 class="font-weight-bold">Create your account in Shape</h5>
                                      <p class="text-900">its easy, simple and just a few clicks job to create an account with shape</p>
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-4 col-md-8 mb-4 mb-lg-0">
                              <div class="media p-xxl-4"><img src="assets/img/icons/icon.png" alt="" width="60" />
                                  <div class="media-body ml-3">
                                      <h5 class="font-weight-bold">Start building beautiful Apps With shape</h5>
                                      <p class="text-900">with our design system, you will find it no brainers job to build your application</p>
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-4 col-md-8 mb-4 mb-lg-0">
                              <div class="media p-xxl-4"><img src="assets/img/icons/icon-3.png" alt="" width="60" />
                                  <div class="media-body ml-3">
                                      <h5 class="font-weight-bold">Deploy your site and make money</h5>
                                      <p class="text-900">make it, bake it, and next thing you know your cake is ready. enjoy it!</p>
                                  </div>
                              </div>
                          </div>
                      </div> -->
                </div>
                <!-- end of .container-->
            </div>
            <!-- <div> close ============================-->
            <!-- ============================================-->
            <div data-aos="zoom-in-down" data-aos-duration="1000" data-aos-once="true"
                class="py-xxl-11 py-xl-9 py-lg-11 pb-md-7 pt-10 overflow-hidden">
                <div class="bg-holder" style="background-image:url(assets/img/bg-img/by-its-default.svg);"></div>
                <!--/.bg-holder-->
                <div class="container">
                    <div class="row flex-center text-center text-lg-left" data-zanim-timeline="{&quot;delay&quot;:0}">
                        <div data-zanim-lg='{"animation":"slide-right","delay":0.5,"duration":1.5}'
                            data-zanim-xs='{"delay":0.4,"duration":1.5}'>
                            <svg class="h-banner" viewBox="0 0 587 429" fill="none" xmlns="http://www.w3.org/1000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink">
                                <defs>
                                    <pattern id="pattern1" patternContentUnits="objectBoundingBox" width="1" height="1">
                                        <use xlink:href="#image1"
                                            transform="translate(-0.117371 -0.0296406) scale(0.000315709 0.000419474)">
                                        </use>
                                    </pattern>
                                    <!-- <image id="image1" width="3600" height="2542" xlink:href="https://res.cloudinary.com/dkzsymaxl/image/upload/v1574757069/glenn-carstens-peters-npxXWgQ33ZQ-unsplash_jrstzx.jpg"></image> -->
                                </defs>
                            </svg>
                        </div>
                      
    
                        <div class="col-xl col-lg-7 col-10 ">
                            <div style="text-align: center;">
                                <h1 class="text-white fs-xl-5 fs-lg-4 fs-md-3 fs-2"> Our constitution</h1>
                                <br>
                                <p class="text-500 mb-5 mx-lg-0">At CoffeeBeans Technologies, we are guided by laws which
                                    bring out the best in us for building best solutions extended to the customers</p>
                            </div>
                            <!--                                
                                    <body>
                                        <div>
                                        <div class="col-sm-3" id="spy">
                                          <ul class="nav nav-pills flex-column">
                                            <li class="nav-item"><a class="nav-link" href="#scroll1">First Law</a></li>
                                            <li class="nav-item"><a class="nav-link" href="#scroll2">Second Law</a></li>
                                            <li class="nav-item"><a class="nav-link" href="#scroll3">Third Law</a></li>
                                         
                                          </ul>
                                        </div>
                                        <div class="col-sm-9 scrollspy-example" data-spy="scroll" data-target="#spy">
                                          <div id="scroll1">
                                            <h2>Minimal yet efficient</h2>
                                          <ol>
                                              <li>
                                                    Do more with less (time / resources / code / memory)
                                              </li>
                                              <li>
                                                    Functionality and impact over fluff
                                              </li>
                                          </ol>
                                          </div>
                                          <div id="scroll2">
                                            <h2>Customer first approach</h2>
                                            <ol>
                                                    <li>
                                                            Intuitive platforms
                                                    </li>
                                                    <li>
                                                            Readily available help
                                                    </li>
                                                    <li>
                                                            Seemless UI and UEx
                                                    </li>
                                                </ol>
                                          </div>
                                          <div id="scroll3">
                                            <h2>Build high performance solutions which are</h2>
                                            <ol>
                                                    <li>
                                                            Robust and reliable
                                                    </li>
                                                    <li>
                                                            Easily scalable
                                                    </li>
                                                    <li>
                                                            Fast and responsive
                                                    </li>
                                                </ol>
                                          </div>
                                          <div id="scroll4">
                                              <ol>
                                                    <li>
                                                            Listen to the ecosystem and developing trends
                                                    </li>
                                                    <li>
                                                            Best ideas win
                                                    </li>
                                                    <li>
                                                            Code, chill, repeat
                                                    </li>
                                                </ol>
                                          </div>
                                        </div>
                                        </div>
                                        </body> -->
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-3 col-sm-6 ">
                                        <div class="service-box">
                                            <div class="service-icon yellow">
                                                <div class="front-content">
                                                    <i class="fa fa-trophy mb-3"></i>
                                                    <h3>Minimal yet efficient</h3>
                                                </div>
                                            </div>
                                            <div class="service-content">
                                                <h3>Minimal yet efficient</h3>
                                                <ol>
                                                    <li>
                                                        Do more with less time, less resources, less code. We prefer functionality and impact over fluff. We are driven to constantly improve.
                                                    </li>
                                                </ol>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6 ">
                                        <div class="service-box">
                                            <div class="service-icon orange">
                                                <div class="front-content">
                                                    <i class="fa fa-anchor mb-3"></i>
                                                    <h3>Customer first approach</h3>
                                                </div>
                                            </div>
                                            <div class="service-content">
                                                <h3>Customer first approach</h3>
                                                <ol>
                                                    <li>
                                                        We will succeed if we deliver value and high-quality products to our customers. We walk the extra mile to delight our customers with excellence and expertise.
                                                    </li>
                                                </ol>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <div class="service-box ">
                                            <div class="service-icon red">
                                                <div class="front-content">
                                                    <i class="fa fa-trophy mb-3"></i>
                                                    <h3>Be Entrepreneurial</h3>
                                                </div>
                                            </div>
                                            <div class="service-content">
                                                <h3>Be Entrepreneurial</h3>
                                                <ol>
                                                    <li>
                                                        We depend on each other's work to be successful as a whole. We are proactive and resourceful, taking ownership and seeking to empower others.
                                                    </li>
                                                </ol>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-6">
                                        <div class="service-box">
                                            <div class="service-icon grey">
                                                <div class="front-content">
                                                    <i class="fa fa-paper-plane-o mb-3"></i>
                                                    <h3>We Haven’t Won Yet</h3>
                                                </div>
                                            </div>
                                            <div class="service-content">
                                                <h3>Organisational principles</h3>
                                                <ol>
                                                    <li>
                                                            If we wanted "easy" we wouldn't be here. We set high goals, push the boundaries, and pursue our goals relentlessly.
                                                    </li>
                                                </ol>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class=" position-absolute z-index--1"></div>
            </div>
    
            <!-- ============================================-->
            <!-- <div> methods begin ============================-->
            <div data-aos="zoom-in-down" data-aos-once="true" data-aos-duration="1000">
                <!-- <div class="container">
                          <h1 style="text-align: center;
                      vertical-align: middle;
                      line-height: 90px;  " class="fs-xl-5 fs-lg-4 fs-md-3 fs-2">Our Methods</h1>
                          <div class="row mt-7 justify-content-center">
                                  <div class="col-lg-4 col-md-8 mb-4 mb-lg-0">
                                      <div class="media p-xxl-4"><img src="assets/img/icons/icon-1.png" alt="" width="60" />
                                          <div class="media-body ml-3">
                                              <h5 class="font-weight-bold">Insight and Analysis</h5>
                                              <p class="text-900">We understant the  specific cause and effect ofyour project and we examine with details the elements and structure of your company.</p>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-lg-4 col-md-8 mb-4 mb-lg-0">
                                      <div class="media p-xxl-4"><img src="assets/img/icons/icon.png" alt="" width="60" />
                                          <div class="media-body ml-3">
                                              <h5 class="font-weight-bold">Brainstriming and design</h5>
                                              <p class="text-900">All our great minds are brought togather for your benefit and after all the preparation steps the hardwork begins.</p>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-lg-4 col-md-8 mb-4 mb-lg-0">
                                      <div class="media p-xxl-4"><img src="assets/img/icons/icon-3.png" alt="" width="60" />
                                          <div class="media-body ml-3">
                                              <h5 class="font-weight-bold">Development and testing</h5>
                                              <p class="text-900">Our developers takes charge of translating the design into interactive digit and the testing is the final step before delivering the projects funationality is thoroughly tested.</p>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                  </div> -->
                <!-- end of .container-->
                <section class="services-area section-padding">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7 col-md-12 wow fadeInUp" data-wow-delay="0.3s">
                                <div class="section-title text-center">
                                    <h2>Our Methods</h2>
                                    <p>Company like ours is about long-term initiatives and immediate opportunity. We look for some of the below ways to propel us forward.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="0.4s">
                                <div class="single-serviecs-block">
                                    <i class="fas fa-cogs"></i>
                                    <h3><a>Insight and Analysis</a></h3>
                                    <p>We understant the specific cause and effect of any problem and then examine it with
                                        detailed research and test cases</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="0.5s">
                                <div class="single-serviecs-block">
                                    <i class="far fa fa-pencil-square-o"></i>
                                    <h3><a>Brainstriming and design</a></h3>
                                    <p>All our great minds are brought together for your benefit and after all the
                                        preparation steps the hardwork begins.</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="0.6s">
                                <div class="single-serviecs-block">
                                    <i class="fas fa-check"></i>
                                    <h3><a>Development and testing</a></h3>
                                    <p>Our developers takes charge of translating the design into interactive digit and the
                                        testing is final step. Before delivering the projects funationality is thoroughly
                                        tested.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!-- <div> close ============================-->
            <!-- ============================================-->
    
    
            <!-- <div data-aos="zoom-in-down" data-aos-duration="1000" data-aos-once="true"
                class="py-xxl-11 py-xl-9 py-lg-11 pb-md-7 pt-10 overflow-hidden">
                <div class="bg-holder" style="background-image:url(assets/img/bg-img/by-its-default.svg);"></div>
                <div class="container">
                    <h1 style="text-align: center;
                              vertical-align: middle;
                              line-height: 90px; color: aliceblue; " class="fs-xl-5 fs-lg-4 fs-md-3 fs-2">Our testimonials
                    </h1>
                    <owl-carousel [options]="mySlideOptions" [items]="images" [carouselClasses]="['owl-theme', 'sliding']">
                        <div *ngFor="let image of mySlideImages;let i = index">
                            <div>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="author">
                                                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample29.jpg"
                                                            alt="sq-sample29" />
                                                        <h5>Eleanor Faint<span> LittleSnippets</span></h5>
                                                    </div>
                                                    <blockquote>Calvin: Sometimes when I'm talking with others, my words
                                                        can't keep up with my thoughts. I wonder why we think faster than we
                                                        speak. Hobbes: Probably so we can think twice. </blockquote>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
    
                            </div>
                        </div>
                    </owl-carousel>
                </div>
                <div class="bg-dark b-0 h-50 w-100 position-absolute z-index--1"></div>
            </div> -->
        </main>
        <!-- ===============================================-->
        <!-- End of Main Content-->
        <!-- ===============================================-->
    
    </div>