@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);



.scrollspy-example {
    position: relative;
    height: 250px;
    overflow: auto;
  }



  blockquote {
    margin: 0;
    display: block;
    border-radius: 8px;
    position: relative;
    background-color: #fafafa;
    padding: 30px 50px 65px 50px;
    font-size: 0.8em;
    font-weight: 500;
    margin: 0 0 -50px;
    line-height: 1.6em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  }
 blockquote:before,
blockquote:after {
    font-family: 'FontAwesome';
    content: "\201C";
    position: absolute;
    font-size: 50px;
    opacity: 0.3;
    font-style: normal;
  }
 blockquote:before {
    top: 35px;
    left: 20px;
  }
 blockquote:after {
    content: "\201D";
    right: 20px;
    bottom: 35px;
  }

 .author {
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
  }
.author h5 {
    opacity: 0.8;
    margin: 0;
    font-weight: 800;
  }
 .author h5 span {
    font-weight: 400;
    text-transform: none;
    display: block;
  }

  .author img {
    max-width: 100%;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
    display: inline-block;
    z-index: 1;
    position: relative;
  }

  .object {
 
    transition: all 2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 0.3s ease-in-out; /** Firefox **/
    -o-transition: all 0.5s ease-in-out; /** Opera **/
  }
  .van {
    top: 45%;
    left: 44%;
  }
  
  .axis .move-right{
   

    transform: translate(-800px,-200px);
  
    /* -webkit-transform: translate(-850px,-250px) scale(0.5); * Safari & Chrome * */
    -webkit-transform: translate(-578px,-166px) scale(0.5);
    -o-transform: translate(-350px,0); /** Opera **/
    -moz-transform: translate(-350px,0); /** Firefox **/
    -webkit-transition: all 0.2s ease-in-out;
   
  
  
  }
  .pirate {
    
    z-index: 101;

    top: 50px;
  }
  .axis2 {
   

  transform: translate(-800px,-200px);
    
  
    -webkit-transform: translate(0px,0px); /** Safari & Chrome **/
    -o-transform: translate(-350px,0); /** Opera **/
    -moz-transform: translate(-350px,0); /** Firefox **/
  
  
  }
  
  .one{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }



  /* .sticky
{
     position: sticky;
     position: -webkit-sticky;
     width: 100px;
     height: 100px;
    
     z-index: 9999;
} */

.sticky
{
     position: sticky;
     position: -webkit-sticky;
     top: 0px;
     
     z-index: 9999;
}

.hide{
  display: none;
}

/* 
h1{
  font-size:25px;
  text-align: left;
  text-transform:capitalize;
} */
.service-box{
 position: relative;
 overflow: hidden;
 margin-bottom:10px;
 perspective:1000px;
 -webkit-perspective:1000px;
}
.service-icon{
 width: 100%;
 height: 220px;
 padding: 20px;
 text-align: center;
 transition: all .5s ease;
}

.service-content{
 position: absolute;
 top: 0;
 left: 0;
 z-index: 1;
 opacity: 0;
 width: 100%;
 height: 220px;
 padding: 20px;
 text-align: center;
 transition: all .5s ease;
 background-color: #474747;
 backface-visibility:hidden;
 transform-style: preserve-3d;
 -webkit-transform: translateY(110px) rotateX(-90deg);
 -moz-transform: translateY(110px) rotateX(-90deg);
 -ms-transform: translateY(110px) rotateX(-90deg);
 -o-transform: translateY(110px) rotateX(-90deg);
 transform: translateY(110px) rotateX(-90deg);
}
.service-box .service-icon .front-content{
 position: relative;
 top:80px;
 -webkit-transform: translateY(-50%);
 -moz-transform: translateY(-50%);
 -ms-transform: translateY(-50%);
 -o-transform: translateY(-50%);
 transform: translateY(-50%);
}

.service-box .service-icon .front-content i {
 font-size: 28px;
 color: #fff;
 font-weight: normal;
}

.service-box .service-icon .front-content h3 {
 font-size: 15px;
 color: #fff;
 text-align: center;
 margin-bottom: 15px;
 text-transform: uppercase;
}
.service-box .service-content h3 {
 font-size: 15px;
 font-weight: 700;
 color: #fff;
 margin-bottom:10px;
 text-transform: uppercase;
}
.service-box .service-content p {
 font-size: 13px;
 color: #b1b1b1;
 margin:0;
}
.yellow{background-color: #ffc000;}
.orange{background-color: #fc7f0c;}
.red{background-color: #e84b3a;}
.grey{background-color: #d32626;}
.service-box:hover .service-icon{
 opacity: 0;
 -webkit-transform: translateY(-110px) rotateX(90deg);
 -moz-transform: translateY(-110px) rotateX(90deg);
 -ms-transform: translateY(-110px) rotateX(90deg);
 -o-transform: translateY(-110px) rotateX(90deg);
 transform: translateY(-110px) rotateX(90deg);
}
.service-box:hover .service-content {
 opacity: 1;
 -webkit-transform: rotateX(0);
 -moz-transform: rotateX(0);
 -ms-transform: rotateX(0);
 -o-transform: rotateX(0);
 transform: rotateX(0);
}
   

section {
  padding: 60px 0;
 /* min-height: 100vh;*/
}

.section-padding {
padding: 120px 0;
}

.section-title {
margin-bottom: 50px;
}


.section-title h2 {
font-size: 40px;
line-height: 45px;
position: relative;
margin-bottom: 20px;
color: #333333;
text-transform: capitalize;
}

.services-area {
margin-bottom: -30px;
}
.serviecs-block .single-serviecs-block {
margin: 30px 0;
}
.single-serviecs-block {
padding: 30px 40px;
background-color: rgb(255, 255, 255);
box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
border-radius: 5px;
text-align: center;
overflow: hidden;
position: relative;
display: block;
height: 320px;
margin-bottom: 30px;
}


.single-serviecs-block:hover {
background: #c9c9c9;
color: white;
}
.single-serviecs-block:hover h3 a {
color: white;
margin-top: 180px;
}
.single-serviecs-block:hover p {
display: none;
}
.single-serviecs-block:hover i {
top: 50%;
left: 50%;
transform: translate(-50%, -90%);
background: #fff;
color: #8dc53e;
height: 100px;
width: 100px;
font-size: 40px;
line-height: 100px; 
}
.single-serviecs-block h3 a {
color: #333333;
margin-bottom: 15px;
margin-top: 80px;
display: block;
overflow: hidden;
transition: 0.5s;
}

.single-serviecs-block i {
color: #fff;
font-size: 50px;
height: 140px;
width: 140px;
line-height: 170px;
text-align: center;
background: #8dc53e;
border-radius: 50%;
position: absolute;
top: -50px;
left: 50%;
transform: translateX(-50%);
transition: 0.6s;
}
