

 <main class="main" id="top">
    <section class="pb-11">
        <div class="bg-holder" style="background-image:url(https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);"></div>
        <!--/.bg-holder-->
        <div class="bg-holder" style="background-image:url(assets/img/illustrations/about-bottom-curve.png);background-position:bottom;background-size:contain;"></div>
        <!--/.bg-holder-->
        <div class="container" data-zanim-timeline="{&quot;delay&quot;:0.5}">
          <div class="row">
            <div class="col-md-6 col-10 pt-6 pb-6" data-zanim-xs="{&quot;delay&quot;:0.2,&quot;duration&quot;:1}" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
              <div class="bc-caret-right bc-light mb-6">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb indigo lighten-4">
                    <li class="breadcrumb-item"><a class="text-white fs--1" href="index.html">Home</a></li>
                    <li class="breadcrumb-item"><a class="text-white fs--1" href="#">Pages</a></li>
                    <li class="breadcrumb-item active"><a class="font-weight-bold text-white fs--1">Services</a></li>
                  </ol>
                </nav>
              </div>
              <h1 class="font-weight-medium text-white fs-xl-5 fs-4"><span class="position-relative">Services<span class="heading-shapes heading-shapes-right" style="background-image: url(assets/img/illustrations/shapes-13.png); height: 70px; width: 80px"></span></span></h1>
              <p class="text-100 mt-4 w-lg-75">Founded at the start of 2018, <a class="font-weight-bold text-white" href="#!">Shape</a> is a platform giving users the ability to buy, sell, and accept digital assets with the US Dollar, Pound Sterling, and Euro.</p>
            </div>
          </div>
          <!-- <div class="row justify-content-center">
            <div class="col-lg-10 mt-xxl-11 mt-xl-9 mt-8" data-zanim-xs="{&quot;delay&quot;:0.4,&quot;duration&quot;:1}" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);"><img class="shapes-left-top d-none d-md-block" src="assets/img/illustrations/shapes-3.png" alt="" style="width:6%"><img class="shapes-right-bottom d-none d-md-block" src="assets/img/illustrations/about-shapes3.png" alt="" style="width:6%">
              <div class="card shadow-white">
                <div class="card-body text-center py-4">
                  <div class="row">
                    <div class="col"><span class="fs-xl-4 fs-lg-3 fs-2 font-weight-bold text-primary text-sans-serif" data-countup="{&quot;count&quot;:10,&quot;duration&quot;:1000,&quot;delay&quot;:2}">10</span>
                      <h6 class="fs-md-0 fs--1 font-weight-bold text-700">years in business</h6>
                    </div>
                    <div class="col"><span class="fs-xl-4 fs-lg-3 fs-2 font-weight-bold text-primary text-sans-serif" data-countup="{&quot;format&quot;:&quot;alphanumeric&quot;,&quot;count&quot;:1500,&quot;duration&quot;:1000,&quot;delay&quot;:2}">1.5k</span>
                      <h6 class="fs-md-0 fs--1 font-weight-bold text-700">products launched</h6>
                    </div>
                    <div class="col"><span class="fs-xl-4 fs-lg-3 fs-2 font-weight-bold text-primary text-sans-serif" data-countup="{&quot;count&quot;:55,&quot;duration&quot;:1000,&quot;suffix&quot;:&quot;%&quot;,&quot;delay&quot;:2}">55%</span>
                      <h6 class="fs-md-0 fs--1 font-weight-bold text-700">remote employees</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
        </div>
      </section>


  


    
<section>
  <div class="row justify-content-center mt-3 mb-4" data-zanim-timeline="{&quot;delay&quot;:0}" >
       
    <h1 class="font-weight-medium text-dark fs-xl-5 fs-lg-4 fs-sm-3 fs-1"><span class="position-relative">Our services<span class="heading-shapes heading-shapes-right" style="background-image: url(assets/img/illustrations/shapes-13.png); height: 80px; width: 90px"></span></span><br
        /></h1>
</div>
<div class="services">
  <div class="container">
      <div class="row">
          <div class="col-md-6 col-lg-4 mb-3">
              <div class="box p-5"> 
                  <i class="fas fa-mouse fa-3x mb-4"></i>
                  <h4>Backend Development</h4>
                  <p>Back-end is the invisible backbone that connects and interconnects various parts of a software application. Without effective & efficient back-end development your customer cannot have a good experience on your website. Hence, to help you avoid such a scenarios, we offer comprehensive backend development services and internship.</p>
                  <a class="readmore" href="#"><span>Read More</span></a>
              </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-3">
              <div class="box p-5"> 
                  <i class="fas fa-laptop-code fa-3x mb-4"></i>
                  <h4>Frontend Development</h4>
                  <p>Attractive, interactive & visually appealing web pages are crucial for the success of a business. They not only reflect the purpose of an organisation, but are also responsible for successful branding and gaining the trust & confidence of the visitor. Therefore, to help you achieve these goals effortlessly, we offer front-end & UI development services and internship</p>
                  <a class="readmore" href="#"><span>Read More</span></a>
              </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-3">
              <div class="box p-5"> 
                  <i class="fas fa-mobile-alt fa-3x mb-4"></i>
                  <h4>Mobile Apps Development</h4>
                  <p>Today mobile apps are revolutionizing the tech world, getting a user friendly mobile app is extremely important. Mobile apps not only simplify our day-to-day activities, but also help small & large scale companies reach a vast array of users around the world. To help you connect with global customers, we offer app development services and internship</p>
                  <a class="readmore" href="#"><span>Read More</span></a>
              </div>
          </div>
          <!-- <div class="col-md-6 col-lg-4 mb-3">
              <div class="box p-5"> 
                  <i class="fas fa-pencil-alt fa-3x mb-4"></i>
                  <h4>Writing</h4>
                  <p>Duis molestie enim mattis gravida viverra. Fusce ut eros augue. Sed id mauris vel neque</p>
                  <a class="readmore" href="#"><span>Read More</span></a>
              </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-3">
              <div class="box p-5"> 
                  <i class="fas fa-laptop-code fa-3x mb-4"></i>
                  <h4>Coding</h4>
                  <p>Duis molestie enim mattis gravida viverra. Fusce ut eros augue. Sed id mauris vel neque</p>
                  <a class="readmore" href="#"><span>Read More</span></a>
              </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-3">
              <div class="box p-5"> 
                  <i class="fas fa-mobile-alt fa-3x mb-4"></i>
                  <h4>App Developing</h4>
                  <p>Duis molestie enim mattis gravida viverra. Fusce ut eros augue. Sed id mauris vel neque</p>
                  <a class="readmore" href="#"><span>Read More</span></a>
              </div>
          </div> -->
          
      </div>
  </div>
</div>
</section>

        










</main>                 

                
           
     


